body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.img1 {
  width: 300px;
  height: auto;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  float: left;
}

.img2 {
  width: 300px;
  height: auto;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  float: right;
}
